{{ with .Site.GetPage "/theme-colors" }}
<style>
    #preloader{background-color: {{ .Params.preloader.bgColor }} !important;}
    .nav>.nav-item>.nav-link:hover, .navbar-nav>.nav-item>.nav-link:hover{color: {{ .Params.header.hoverTextColor }} !important;}
    .navbar-nav .nav-link{color: {{.Params.header.textColor}} !important;}
    .navbar{background-color: {{ .Params.header.backgroundColor}} !important; border-color: {{ .Params.header.borderBottomColor}} !important;}
    .footer-first-row{background-color: {{ .Params.footer.primaryBgColor }} !important;}
    .footer-second-row{background-color: {{ .Params.footer.secondaryBgColor }} !important;}
    .footer-first-row, .footer-second-row{color: {{ .Params.footer.textColor }} !important;}
    .footer-first-row a, .footer-second-row a{color: {{ .Params.footer.linkColor }} !important;}
    .btn-share, .read-more{color: {{ .Params.content.linkColor }} !important;}
</style>
{{ end }}