<!doctype html>
<html>
    <head>
        <!-- META -->
        {{ partial "shared/metadata" . }}
        
        <title>{{ .Site.Title }}</title>

        <!-- STYLES -->
        {{ partial "styles/links" . }}

        <!-- THEME COLORS -->
        {{ partial "styles/theme-colors" . }}

        <!-- ANALYTICS -->
        {{ partial "shared/analytics" . }}
    </head>
    <body>
        <!-- PRELOADER -->
        {{ partial "shared/preloader" . }}

        <!-- HEADER -->
        {{ partial "shared/header" . }}

        <!-- MAIN -->
        {{ block "main" . }}{{ end }}

        <!-- FOOTER -->
        {{ partial "shared/footer" . }}

        <!-- SCRIPTS -->
        {{ partial "shared/scripts" . }}

    </body>
</html>