{{ define "main" }}
    <div class="defualt-padding">
        <div class="row mb-4">
            <div class="col-sm-12">
                <div class="card m-auto shadow-sm">
                    {{partial "photo-grid" (dict "Params" .Params)}}
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{.Params.Title}}</strong></h5>
                        {{ .Params.description | safeHTML }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="text-center mt-5">
                    <a href="/" class="btn btn-outline-dark"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to homepage</a>
                </div>
            </div>
        </div>
    </div>

{{end}}