{{ define "main" }}
    <div class="container thanks mb-5">
        <div class="row success mb-2">
            <img src="/images/envelope.png" alt="success">
        </div>
        <div class="row mt-1">
            <div class="col-12 text-justify px-4">
                {{ .Params.message | safeHTML}}
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <a href="/" class="btn btn-outline-dark"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to homepage</a>
            </div>
        </div>
    </div>
{{ end }}