<div id="desktop">
  {{ range $pindex, $plan := index (where .Pages ".Params.types" "designplans").ByDate.Reverse }}
<div class="py-4 defualt-padding">
  <a class="btn-share" onclick="copyURL('{{.Permalink}}', '{{.Params.Title}}')"><i class="fas fa-share-alt-square"></i></a>
  <h4 class="font-weight-bold m-0 d-inline">{{$plan.Params.Title}}</h4>
  <span class="d-block mt-2" id="{{.Params.Title}}"></span>

  {{ partial "pipes/substr" (dict "type" "plan" "index" $pindex "desc" .Params.description) }}

  <div id="custom-gallery" class="row mt-4">
    {{ range  $index, $element := $plan.Params.gallery }}
        {{if lt $index 3}}
          <div class="col-lg-4 mb-3 mb-lg-0">
            <div class="hover hover-3 text-white rounded">
              <a class="custom-gallery-item" data-src="{{$element}}?nf_resize=fit&w=1280&h=1024">
                <picture>
                  <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 768px)"> 
                  <img loading="lazy" src="{{$element}}?nf_resize=fit&w=1280&h=1024">
                </picture>
              </a>
            </div>
          </div>
        {{end}}
        {{if eq $index 3}}
          <div class="btn-more">
            <a class="custom-gallery-item" data-src="{{$element}}?nf_resize=fit&w=1280&h=1024">
              View More
            </a>
          </div>
        {{end}}
        {{if gt $index 3}}
          <a class="custom-gallery-item hidden" data-src="{{$element}}?nf_resize=fit&w=1280&h=1024">
          </a>
        {{end}}
    {{ end }}
  </div>
</div>
{{ end }}
</div>

<div id="mobile" class="mt-4">
<div class="defualt-padding">
    {{ range $pindex, $plan := index (where .Pages ".Params.types" "designplans").ByDate.Reverse }}
        <div class="row pb-4" id="plan-m-{{ $pindex }}">
            <div class="col-sm-12">
                <div class="card shadow">
                    {{partial "carousel" (dict "Type" "Plan" "Index" $pindex "Params" $plan.Params)}}
                    <div class="card-body">
                        <a class="btn-share" onclick="copyURL('{{.Permalink}}', '{{$plan.Params.Title}}-m')"><i class="fas fa-share-alt-square"></i></a>
                        <h4 class="card-title d-inline"><strong>{{$plan.Params.Title}}</strong></h4>
                      <span class="d-block mt-2" id="{{$plan.Params.Title}}-m"></span>
                      {{ partial "pipes/substr" (dict "type" "plan-m" "index" $pindex "desc" .Params.description) }}
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
</div>
</div>