{{ with .Site.GetPage "/about" }}
<section class="about-us">

  <div class="container">
    <div class="row">
      <h3 class="pb-4 text-uppercase text-center m-auto pb-4">{{ .Params.sectionTitle | safeHTML }}</h3>
      <div class="col-md-6 col-sm-12 text-center">
        <img src="{{ .Params.sectionImage }}" class="before-after" alt="before-after">
      </div>
      <div class="col-md-6 col-sm-12">
        <p class="text-left">
          {{ .Params.sectionContent | safeHTML }}
        </p>
      </div>
    </div>
    {{ if .Site.Params.enable_form }}
    <div class="row mt-5">
      <div class="col-12 text-center">
        <a href="/#contact" class="btn btn-light">Contact Us Now!</a>
      </div>
    </div>
    {{ end }}
  </div>
</section>
<div class="pt-4"></div>
  <!-- STEPS -->
  {{ if .Params.showSteps }}
    {{ partial "listings/step-listing" }}
  {{ end }}
{{ end }}