<section class="about-us">

  <div class="container">
    <div class="row">
      <h3 class="pb-4 text-uppercase text-center m-auto pb-4">Transform your Pattaya condo, apartment or house now!</h3>
      <div class="col-md-6 col-sm-12 text-center">
        <img src="images/before-after.gif" class="before-after" alt="before-after">
      </div>
      <div class="col-md-6 col-sm-12">
        <p class="text-left">
          <h4>We understand you and speak your language.</h4>
          We do house and condo renovations and decorations in Pattaya, and we know, that there is nothing more frustrating than dealing with unreliable or unprofessional contractors.
          <br><br>
          <h4>Your Budget is important.</h4>
          No matter if its a small decoration or a major renovation we understand your budget and develop an affordable solution for you.
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <a href="/#contact" class="btn btn-light">Contact Us Now!</a>
      </div>
    </div>
  </div>
</section>
<div class="pt-4"></div>