<div id="custom-gallery" class="carousel">
    <div class="carousel-inner">
        {{ $counter := 0 }}
        {{ range $gindex, $element := .Params.gallery }}
            {{ $counter = $gindex }}
        {{ end }}
        <div class="carousel-column">
            {{ range $gindex, $element := .Params.gallery }}
                {{ if eq $gindex 0}}

                    {{ $image := resources.Get "uploads/01.jpg" }}
                    {{ $image := $image.Fit "1920x1080 q100" }}

                    <a class="custom-gallery-item" data-src="{{$image.RelPermalink}}">


                        <picture>
                            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 768px)"> 
                            <img class="w-100 carousel-img" src="{{$image.RelPermalink}}">
                        </picture>




                    </a>
                {{ end }}
            {{ end }}
        </div>
        <div class="carousel-column">
            {{ range $gindex, $element := .Params.gallery }}

                {{ $image := resources.Get "uploads/01.jpg" }}
                {{ $image := $image.Fit "1920x1080 q100" }}

                {{ if and (gt $gindex 0) (lt $gindex 3)}}
                    <a class="custom-gallery-item" data-src="{{$image.RelPermalink}}">



                        <picture>
                            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 768px)"> 
                            <img class="w-100 carousel-img-small {{ if lt $counter 3}}img-size-half{{ end }}" src="{{$image.RelPermalink}}">
                        </picture>
                    
                    
                    
                    
                    </a>
                {{ end }}
                {{ if eq $gindex 3 }}
                    <a class="custom-gallery-item" data-src="{{$image.RelPermalink}}">
                        
                        
                        
                        <picture>
                            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 768px)"> 
                            <img class="w-100 carousel-img-small" src="{{$image.RelPermalink}}">
                        </picture>
                        
                        
                        
                        
                        {{if gt $counter 3}}
                            <div class="carousel-overlay"></div>
                            <div class="counter">
                                +{{ math.Sub $counter  3 }}
                            </div>
                        {{ end }}
                    </a>
                {{ end }}
                {{ if gt $gindex 3 }}
                    <a class="custom-gallery-item hidden" data-src="{{$image.RelPermalink}}"></a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>