<div id="custom-gallery" class="photo-grid">
    <div class="photo-grid-inner">
        {{ $counter := 0 }}
        {{ range $gindex, $element := .Params.gallery }}
            {{ $counter = $gindex }}
        {{ end }}
        <div class="photo-grid-column">
            {{ range $gindex, $element := .Params.gallery }}
                {{ if eq $gindex 0}}
                    <a class="custom-gallery-item" data-src="{{$element}}">
                        <img class="w-100 photo-grid-img" src="{{$element}}">
                    </a>
                {{ end }}
            {{ end }}
        </div>
        <div class="photo-grid-column">
            {{ range $gindex, $element := .Params.gallery }}
                {{ if and (gt $gindex 0) (lt $gindex 3)}}
                    <a class="custom-gallery-item" data-src="{{$element}}">
                        <img class="w-100 photo-grid-img-small {{ if lt $counter 3}}img-size-half{{ end }}" src="{{$element}}">
                    </a>
                {{ end }}
                {{ if eq $gindex 3 }}
                    <a class="custom-gallery-item" data-src="{{$element}}">
                        <img class="w-100 photo-grid-img-small" src="{{$element}}">
                        {{if gt $counter 3}}
                            <div class="photo-grid-overlay"></div>
                            <div class="counter">
                                +{{ math.Sub $counter  3 }}
                            </div>
                        {{ end }}
                    </a>
                {{ end }}
                {{ if gt $gindex 3 }}
                    <a class="custom-gallery-item hidden" data-src="{{$element}}"></a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>